<legend>Sannolikhet för att en riskfylld händelse ska inträffa: O</legend>
<input routerLink="/educationlevel" type="radio" id="yes" name="educationlevel" value="yes" >
<label for="yes">O1: låg (så osannolikt att det kan förväntas att den riskfyllda händelsen inte inträffar) Väl utvecklad teknologi, beprövad och erkänd när det gäller säkerhetstillämpning; robusthet.</label>
<br>
<input routerLink="/educationlevel"type="radio" id="no" name="educationlevel" value="no">
<label for="no">O2: medium (sannolikt att inträffa någon gång) Tekniska fel som observerats under de två senaste åren. Olämplig mänsklig åtgärd av en välutbildad person som är medveten om riskerna och har mer än sex månaders erfarenhet av arbetsstationen.</label>
<br>
<input routerLink="/educationlevel"type="radio" id="no" name="educationlevel" value="no">
<label for="no">O3: hög (sannolik att den inträffar frekvent) Tekniskt fel som observerats regelbundet (var sjätte månad eller mindre) Olämplig mänsklig åtgärd utförd av outbildad person med mindre än sex månaders erfarenhet av arbetsstationen.</label>
