<legend>Tillgängligt utrymme för att undkomma faran</legend>
<input routerLink="/awarnessofhazard" type="radio" id="yes" name="doesriskeventexist" value="yes" >
<label for="yes"> A. Möjligt i mer eller lika med 50% av fallen.</label>
<br>
<input routerLink="/awarnessofhazard"type="radio" id="no" name="doesriskeventexist" value="no">
<label for="no"> B. Möjligt i mindre än 50% av fallen.</label>
<br>
<input routerLink="/awarnessofhazard"type="radio" id="no" name="doesriskeventexist" value="no">
<label for="no">C. Inte möjligt.</label>

