<legend>Möjlighet till upptäckt/medvetenhet om faran</legend>
<input routerLink="/complexity" type="radio" id="yes" name="doesriskeventexist" value="yes" >
<label for="yes"> A. Möjligt i mer eller lika med 50% av fallen.</label>
<br>
<input routerLink="/complexity"type="radio" id="no" name="doesriskeventexist" value="no">
<label for="no"> B. Möjligt endast i mindre än 50% av fallen.</label>
<br>
<input routerLink="/complexity"type="radio" id="no" name="doesriskeventexist" value="no">
<label for="no">C. Inte möjligt. (exempelvis instrumentering nödvändig, människans sinne kan inte uppfatta faran, miljömässiga förhållanden döljer upptäckt.)</label>
