<legend>Varaktighet på exponering för riskkällan</legend>
<input routerLink="/frequencyduration" type="radio" id="yes" name="exposure" value="yes" >
<label for="yes">Ackumulerad exponeringstid <=1/20 av den totala driftstiden</label>
<br>
<input routerLink="/"type="radio" id="no" name="exposure" value="no">
<label for="no">Nej</label>
<legend>Frekvens på exponering för riskkällan</legend>
<input routerLink="/frequencyduration" type="radio" id="yes" name="frequency" value="yes" >
<label for="yes">Frekvens mellan exponeringar>=15 minuter</label>
<br>
<input routerLink="/"type="radio" id="no" name="frequency" value="no">
<label for="no">Nej</label>
