<legend>Komplexiteten på arbetsoperationerna (mänsklig interaktion avseende antal arbetsoperationer och/eller tid tillgänglig för dessa arbetsoperationer)</legend>
<input routerLink="/severity" type="radio" id="yes" name="doesriskeventexist" value="yes" >
<label for="yes"> A. Låg komplexitet. (exempelvis justera fastspänningen av arbetsstycket) eller väldigt låg komplexitet/eller ingen interaktion (exempelvis placera ett arbetsstycke i maskinen)</label>
<br>
<input routerLink="/severity"type="radio" id="no" name="doesriskeventexist" value="no">
<label for="no"> B. Hög komplexitet. (exempelvis felsökning) eller medel komplexitet (exempelvis använd hålldonsmanöver för att ställa in en del av maskinen)</label>
