<legend>Hastighet på den del i maskinen som kan skapa en riskfylld händelse</legend>
<input routerLink="/availablespace" type="radio" id="yes" name="doesriskeventexist" value="yes" >
<label for="yes">A. Låg eller väldigt låg hastighet på händelsen (exempelvis 250 mm/s, (tid till fara >= 3 sekunder).</label>
<br>
<input routerLink="/availablespace"type="radio" id="no" name="doesriskeventexist" value="no">
<label for="no">B. Medelhastighet på händelsen. (exempelvis 251 mm/s till 1000 mm/s, (tid till fara < 3 sekunder).</label>
<br>
<input routerLink="/availablespace"type="radio" id="no" name="doesriskeventexist" value="no">
<label for="no">C. Hög hastighet på händelsen. (exempelvis över 1000 mm/s, (tid till fara < 1 sekund).</label>
