<legend>Skadans allvarlighet: S</legend>
<input routerLink="/severity" type="radio" id="yes" name="doesriskeventexist" value="yes" >
<label for="yes">S1: lindrig skada (vanligtvis övergående; exempelvis skrubbsår, skärsår, blåmärken, lindrig sårskada som kräver första hjälpen, m.fl.) inte mer än två dagar icke kapabel till arbete</label>
<br>
<input routerLink="/severity"type="radio" id="no" name="doesriskeventexist" value="no">
<label for="no">S2: svår skada (vanligtvis bestående; även dödsfall; exempelvis brutna,avslitna eller krossade armar och ben, frakturer, svåra personskador som måste sys, allvarliga muskel/skelettproblem (MST) m.fl.) Mer än två dagars frånvaro icke kapabel till arbete.</label>

